<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.proyecto.marketdillo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="MarketDillo"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".fragments.ImagenDetalle"></activity>
        <activity android:name=".VistaProducto" />
        <activity
            android:name=".CrearProducto"
            android:parentActivityName=".VistaCampesino"
            android:theme="@style/ThemeMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".VistaCampesino" />
        </activity>
        <activity
            android:name=".VistaCampesino"
            android:label="@string/title_activity_vista_campesino"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VistaDetalles"
            android:parentActivityName=".VistaUsuarios"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".VistaUsuarios" />
        </activity>
        <activity
            android:name=".VistaCanasta"
            android:parentActivityName=".VistaProductosMercadillo"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".VistaProductosMercadillo" />
        </activity>
        <activity
            android:name=".VistaProductosMercadillo"
            android:parentActivityName=".VistaUsuarios"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".VistaUsuarios" />
        </activity>
        <activity
            android:name=".CrearCuentaActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/ThemeMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".VistaUsuarios"
            android:label="@string/title_activity_mercadillos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:parentActivityName=".BottomActivity"
            android:theme="@style/ThemeMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".BottomActivity" />
        </activity>
        <activity
            android:name=".BottomActivity"
            android:theme="@style/Color">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CrearCampesinoActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/ThemeMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
    </application>

</manifest>