<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.proyecto.marketdillo">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="MerkatDillo"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".VistaCategoria"
            android:parentActivityName=".VistaUsuarios"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".VistaUsuarios" />
        </activity>
        <activity
            android:name=".SplashActivity"
            android:theme="@style/ThemeMainActivityH">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PasswordActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/ThemeMainActivityH">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".Busqueda">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".VistaUsuarios" />
        </activity>
        <activity
            android:name=".CrearPhoneCampesinoActivity"
            android:theme="@style/ThemeMainActivityH" />
        <activity
            android:name=".CrearPhoneActivity"
            android:theme="@style/ThemeMainActivityH" />
        <activity android:name=".Administrador.VistaMercadilloAdmin" />

        <activity
            android:name=".Administrador.VistaAdmin"
            android:label="@string/title_activity_vista_admin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PhoneActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/ThemeMainActivityH">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".CalificarPedido"
            android:parentActivityName=".VistaCampesino"
            android:theme="@style/ThemeMainActivityH">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".VistaCampesino" />
        </activity>
        <activity
            android:name=".Actualizar"
            android:parentActivityName=".VistaCampesino"
            android:theme="@style/ThemeMainActivityH">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".VistaCampesino" />
        </activity>
        <activity
            android:name=".Chat"
            android:parentActivityName=".VistaCampesino"
            android:theme="@style/ThemeChatActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".VistaCampesino" />

            <intent-filter>
                <action android:name="com.proyecto.marketdillo.NOTIFICACIONMENSAJE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EstadoPedidoCampesino"
            android:parentActivityName=".VistaCampesino"
            android:theme="@style/ThemeMainActivityH">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".VistaCampesino" />

            <intent-filter>
                <action android:name="com.proyecto.marketdillo.NOTIFICACIONCAMPESINO" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EstadoPedido"
            android:parentActivityName=".VistaUsuarios"
            android:theme="@style/ThemeMainActivityH">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".VistaUsuarios" />

            <intent-filter>
                <action android:name="com.proyecto.marketdillo.NOTIFICACIONCONSUMIDOR" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".fragments.ImagenDetalle"
            android:parentActivityName=".BottomActivity"
            android:theme="@style/ThemeMainActivityH">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".BottomActivity" />
        </activity>
        <activity
            android:name=".VistaProducto"
            android:parentActivityName=".VistaProductosMercadillo"
            android:theme="@style/ThemeMainActivityH">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".VistaProductosMercadillo" />
        </activity>
        <activity
            android:name=".CrearProducto"
            android:parentActivityName=".VistaCampesino"
            android:theme="@style/ThemeMainActivityH">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".VistaCampesino" />
        </activity>
        <activity
            android:name=".VistaCampesino"
            android:label="@string/title_activity_vista_campesino"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VistaDetalles"
            android:parentActivityName=".VistaUsuarios"
            android:theme="@style/ThemeMainActivityH">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".VistaUsuarios" />

            <intent-filter>
                <action android:name="com.proyecto.marketdillo.NOTIFICACIONCONSUMIDORFIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".VistaCanasta"
            android:parentActivityName=".VistaProductosMercadillo"
            android:theme="@style/ThemeMainActivityH">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".VistaProductosMercadillo" />
        </activity>
        <activity
            android:name=".VistaProductosMercadillo"
            android:parentActivityName=".VistaUsuarios"
            android:theme="@style/ThemeMainActivityH">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".VistaUsuarios" />
        </activity>
        <activity
            android:name=".CrearCuentaActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/ThemeMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".VistaUsuarios"
            android:label="@string/title_activity_mercadillos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:parentActivityName=".BottomActivity"
            android:theme="@style/ThemeMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".BottomActivity" />
        </activity>
        <activity
            android:name=".BottomActivity"
            android:theme="@style/Color"></activity>
        <activity
            android:name=".CrearCampesinoActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/ThemeMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <service
            android:name=".FirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
    </application>

</manifest>